@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fcfcfc;
  height: 100%;
  overflow-x: hidden;
  background-color: #111111;
  border-color: #3b3b3b;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
